# MACHINE LEARNING: USING KNN ALGORITHM

In [20]:
import numpy as np

In [21]:
X=np.array([["Lemon",1,9],["Grapefruit",2,8],["orange",3,7],["Rasberry",2,8],["Cherry",6,4],["Banana",9,1],["Grapes",8,2],["Watermelon",9,1],["Avacado",1,1],["Strawberry",5,5]])

In [22]:
X

array([['Lemon', '1', '9'],
       ['Grapefruit', '2', '8'],
       ['orange', '3', '7'],
       ['Rasberry', '2', '8'],
       ['Cherry', '6', '4'],
       ['Banana', '9', '1'],
       ['Grapes', '8', '2'],
       ['Watermelon', '9', '1'],
       ['Avacado', '1', '1'],
       ['Strawberry', '5', '5']], dtype='<U10')

In [23]:
X.size

30

In [24]:
from sklearn.metrics import euclidean_distances

In [25]:
Y=np.array([["mango",2,7]])

In [26]:
Y_target=np.array(["Sour","Sour","Sour","Sour","Sweet","Sweet","Sweet","Sweet","None","Sour"])

In [27]:
my={'Fruit':['Lemon','Grapefruit','Orange','Rasberry','cherry','banana','grapes','watermelon','avacado','strawberry'],'Sweetness':[1,2,3,2,6,9,8,9,1,5],'Sourness':[9,8,7,8,4,1,2,1,1,5]}

In [28]:
import pandas as pd

In [29]:
a=pd.DataFrame(my)

In [30]:
a

        Fruit  Sweetness  Sourness
0       Lemon          1         9
1  Grapefruit          2         8
2      Orange          3         7
3    Rasberry          2         8
4      cherry          6         4
5      banana          9         1
6      grapes          8         2
7  watermelon          9         1
8     avacado          1         1
9  strawberry          5         5

In [31]:
 m=([a.Sweetness,a.Sourness])

In [32]:
m

[0    1
 1    2
 2    3
 3    2
 4    6
 5    9
 6    8
 7    9
 8    1
 9    5
 Name: Sweetness, dtype: int64, 0    9
 1    8
 2    7
 3    8
 4    4
 5    1
 6    2
 7    1
 8    1
 9    5
 Name: Sourness, dtype: int64]

In [33]:
Y_my={'Type':["Sour","Sour","Sour","Sour","Sweet","Sweet","Sweet","Sweet","None","Sour"]}

In [34]:
i={'Fruit':['Mango'],'Sweetness':[2],'Sourness':[7]}

In [35]:
inp=pd.DataFrame(i)

In [36]:
yum=([inp.Sweetness,inp.Sourness])

In [37]:
H=X[0:10,1:3]

In [38]:
H

array([['1', '9'],
       ['2', '8'],
       ['3', '7'],
       ['2', '8'],
       ['6', '4'],
       ['9', '1'],
       ['8', '2'],
       ['9', '1'],
       ['1', '1'],
       ['5', '5']], dtype='<U10')

In [39]:
M=Y[0:1,1:3]

In [40]:
M

array([['2', '7']], dtype='<U5')

In [41]:
dis=euclidean_distances(H,M)

In [42]:
print(dis)

[[2.23606798]
 [1.        ]
 [1.        ]
 [1.        ]
 [5.        ]
 [9.21954446]
 [7.81024968]
 [9.21954446]
 [6.08276253]
 [3.60555128]]

In [48]:
from sklearn.neighbors import KNeighborsClassifier

In [49]:
trainer=KNeighborsClassifier(n_neighbors=1)

In [50]:
learner=trainer.fit(H,Y_target)

C:\Users\Surbhi Varshney\Anaconda3\lib\site-packages\sklearn\utils\validation.py:563: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  FutureWarning)
C:\Users\Surbhi Varshney\Anaconda3\lib\site-packages\sklearn\utils\validation.py:563: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  FutureWarning)

In [51]:
learner.predict([[2,7]])

array(['Sour'], dtype='<U5')

In [52]:
learner.predict([[1,1]])

array(['None'], dtype='<U5')